.images {
  height: 300px;
  width : 300px;
}

h1, h2 {
  color: #24acd1;
  font-family: Arial;
}

body {
  background-color: #474340;
  color: #ffffff;
  font-family: Verdana;
}

.text-bg {
  color: #e8e11e;
}

.a-imdb {
  color: red;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p::first-letter {
  font-size: 1.5em;
}

.p-movie {
  display: inline-block;
  font-size: 12px;
  text-indent: 45px;
}

.movie-font {
  font-size: 14px;
}
