/* .main-div {
  display: none;
} */

.postTitle {
  font-weight: bold;
  margin-bottom: 2px;
}

#all-post {
  background-color: powderblue;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.myCmt {
  display: block;
}
